name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Unittest
        run: |
          python3 -m pip install -e .
          python3 -m unittest discover -s test

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Lint
        run: |
          python3 -m pip install -e .
          python3 -m pip install flake8
          flake8 NEBULA
